.about {
    padding-top: 100px;
    margin-bottom: 120px;
}

.about__title {
    margin-bottom: 50px;
}

.about__text {
    margin-bottom: 50px;
}

.about__team {
    @include flexbox;
}

.about__member {
    position: relative;
    margin: 10px;
    width: 33.333%;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about__box-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 10px 20px;
    background: #ffe600;
}

.about__name {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: $fontf;
}

.about__skill {
    font-family: $fontf;
    color: #ffffff;
    font-size: 12px;
}

.info {
    margin: 10px;
    padding: 70px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: 33.333%;
    height: auto;
}

.info__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    font-family: $fontf;
}

.info__text {
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: $fontf;
}

.info__link {
    font-family: $fontf;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    &:hover {
        color: #ffe600;
    }
}

@media(max-width: 860px) {
    .about__team {
        align-items: center;
        flex-direction: column;
    }

    .about__member {
        max-width: 370px;
        width: 100%;
        margin-bottom: 30px;
    }

    .info {
        max-width: 370px;
        width: 100%;
    }
}

@media(max-width: 550px) {
    .about {
        padding-top: 40px;
        margin-bottom: 40px;
    }
}