//<МИКСИНЫ>
@mixin anim($time) {-webkit-transition: all $time ease 0; -moz-transition: all $time ease 0;-ms-transition: all $time ease 0;-o-transition: all $time ease 0;transition: all $time ease 0;}
@mixin anim_cubic($time, $delay) {-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;}
@mixin rotate($deg) {-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num) {-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num) {-moz-transform: skew($num);-ms-transform: skew($num);-webkit-transform: skew($num);-o-transform: skew($num);transform: skew($num);}
@mixin cnt() {display: flex;flex-direction: column;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z) {transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
@mixin font($size, $color, $family) {font-size: $size; color: $color; font-family: $family;}
//</МИКСИНЫ>

//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
//</ШРИФТЫ>

//<ПЕРМЕННЫЕ>
$fontf: 'Montserrat', sans-serif;
$contwidth: 1160px;
//</ПЕРМЕННЫЕ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "nullstyle.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

.container {
    margin: 0 auto;
    max-width: $contwidth;
    padding: 0 10px;
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "header.scss";
@import "work.scss";
@import "partners.scss";
@import "about.scss";
@import "blog.scss";
@import "contact.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>